{% extends "base.html" %}

{% block title %}
Admino
{% endblock title %}

{% block custom_head %}
<link rel="stylesheet" href="../static/adminpage.css">
</link>
{% endblock custom_head %}


{% block content %}
<div class="AddProductForm" id="AddProduct">
	<form method="post" enctype="multipart/form-data" action="" class="form-container">

		{{ form.hidden_tag() }}

		{{ form.name.label}}
		{{ form.name(placeholder="Product name")}}

		{{ form.description.label}}
		{{ form.description(placeholder="Enter Description")}}

		{{ form.image.label}}
		{{ form.image()}}

		{{ form.price.label}}
		{{ form.price(placeholder="Enter Price")}}

		{{ form.brand.label}}
		{{ form.brand(placeholder="Enter Brand")}}

		{{ form.submit(class="btn") }}

	</form>
</div>
{% endblock content %}