<!DOCTYPE html>
<html>
<head>
    <title>Webshop - Admin</title>
    <link rel="stylesheet" href="StyleSheet.css"></link>
<link rel="AdminJS" href="adminJS.js"></link>
</head>
<body>
  <div class="category-group">
   <button onclick="">Add To table</button>
   <select name="tableADD" id="add">
    <option value="product">Product</option>
    <option value="customer">Customer</option>
    <option value="review">Reviews</option>
  </select>
   <button onclick="">Remove from table</button>
   <select name="tableREM" id="remove">
    <option value="product">Product</option>
    <option value="customer">Customer</option>
    <option value="review">Reviews</option>
  </select>
   <button>category3</button>
 </div>
<div class="productGrid">
  <a>
    <img src="./Images/PlaceHolder.png"></img>
  </a>
</div>
</body>
</html>
