{% extends "base.html" %}

{% block custom_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button.btn_del").click(function () {
            console.log(this)
            var label = this.parentElement.getElementsByTagName('label')[0];
            this.parentElement.parentElement.parentElement.remove();
            var prod_id = parseInt(label.id.substring(10));
            $.post("/basket",
                {
                    idProduct: prod_id,
                    quantity: 0
                },
                function (data, status) {
                });
            console.log('delete');
        });
    });
    $(document).ready(function () {
        $("button.btn_inc").click(function () {
            console.log(this)
            var label = this.parentElement.getElementsByTagName('label')[0];
            var q = parseInt(label.textContent.substring(10));
            var prod_id = parseInt(label.id.substring(10));
            label.textContent = "Quantity: " + (q+1);
            $.post("/basket",
                {
                    idProduct: prod_id,
                    quantity: q + 1
                },
                function (data, status) {
                });
            console.log('inc');
        });
    });
    $(document).ready(function () {
        $("button.btn_dec").click(function () {
            console.log(this)
            var label = this.parentElement.getElementsByTagName('label')[0];
            var q = parseInt(label.textContent.substring(10));
            if (q <= 1)
                return;
            q -= 1;
            label.textContent = "Quantity: " + q;
            var prod_id = parseInt(label.id.substring(10));
            $.post("/basket",
                {
                    idProduct: prod_id,
                    quantity: q
                },
                function (data, status) {
                });
            console.log('bitch');
        });
    });
</script>
{% endblock custom_head %}

{% block title %}
Register gang
{% endblock title %}

{% block content %}
<div class="col-lg-9">
    <div class="row">
        {% for i in range(products|length) %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{ url_for('product', productId = products[i]['idProduct'])}}"><img class="card-img-top"
                        src={{ products[i]['image_path'] }} alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a
                            href="{{ url_for('product', productId = products[i]['idProduct'])}}">{{ products[i]['name'] }}</a>
                    </h4>
                    <h5>{{ products[i]['price'] }} kr</h5>
                    <p class="card-text">
                        {{ products[i]['description']}}
                    </p>
                    <label id="idProduct={{products[i]['idProduct']}}">Quantity: {{products[i]['quantity']}}</label>
                    <button class="btn_del">DEL</button>
                    <button class="btn_inc">INC</button>
                    <button class="btn_dec">DEC</button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        {% for _ in range(products[i]['rating']) %} &#9733; {% endfor %}
                        {% for _ in range(5-products[i]['rating']) %} &#9734; {% endfor %}
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function incQuantity(index) {
        var label = document.getElementById('quantity-' + index);
        var q = parseInt(label.textContent.substring(10));
        label.textContent = 'Quantity: ' + (q + 1);
    }

    function decQuantity(index) {
        var label = document.getElementById('quantity-' + index);
        var q = parseInt(label.textContent.substring(10));
        if (q > 1)
            label.textContent = 'Quantity: ' + (q - 1);
    }


</script>
{% endblock content %}