{% extends "base.html" %}
<!-- inherit from base.html -->

{% block title %}
Gang Gang
{% endblock title %}


{% block content %}
{% include 'login.html' %}

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Bryggor</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>

    </div>
    {% include 'product_grid.html' %}
    <!-- /.col-lg-3 -->
  </div>
</div>
<!-- /.container -->
{% endblock content %}
<!-- Bootstrap core JavaScript
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->