{% extends "base.html" %}

{% block custom_head %}
<link rel="stylesheet" href="../static/productpage.css">
</link>
{% endblock custom_head %}

{% block content %}
<div class="productEntity">
    <div class="product" id="product">
        <a href="#"><img class="productImage" id="productImage" src="http://placehold.it/700x400" alt=""></a>
    </div>
    <div class="productInfo">
        <h2> {{productName}} </h2>
        <p class="productDescription">
            {{description}} </p>
    </div>
</div>
</div>
{% endblock content %}