{% extends "base.html" %}

{% block custom_head %}
<link rel="stylesheet" href="../static/productpage.css"></link>
<link rel="stylesheet" href="../static/review.css">
{% endblock custom_head %}

{% block content %}
<div class="productEntity">
    <div class="product" id="product">
        <img class="productImage" id="productImage" src="..\{{ product['image_path'] }}" alt="">
    </div>
    <div class="productInfo">
        <h2> {{ product['name'] }} | {{ product['price'] }} kr </h2>
        <p class="productDescription">
            {{ product['description'] }}</p>
    </div>
</div>
{%include "reviews.html" %}
{% endblock content %}