<div class="col-lg-9">
    <div class="row">
        {% for i in range(products|length) %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{ url_for('product', productId = products[i]['idProduct'])}}"><img class="card-img-top" src="{{products[i]['image_path']}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ url_for('product', productId = products[i]['idProduct'])}}">{{ products[i]['name'] }}</a>
                    </h4>
                    <h5>${{ products[i]['price'] }}</h5>
                    <p class="card-text">
                        {{ products[i]['description']}}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                    {% for _ in range(products[i]['rating']) %} &#9733; {% endfor %}
                    {% for _ in range(5-products[i]['rating']) %} &#9734; {% endfor %}
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>