{% extends "base.html" %}

{% block title %}
    Register gang
{% endblock title %}

{% block custom_head %}
    <link rel="stylesheet" href="../static/registerCenter.css"></link>
{% endblock custom_head %}


{% block content %}
<body>
  <div class="RegisterForm" id="RegisterForm">
   <form method="post" action="" class="form-container">

       {{ form.hidden_tag() }}

       {{ form.name.label}}
	{{ form.name(placeholder="Name")}}

	{{ form.email.label}}
	{{ form.email(placeholder="Email")}}

       	{{ form.password.label}}
	{{ form.password(placeholder="Password")}}

    {{ form.confirm.label}}
	{{ form.confirm(placeholder="Confirmed Password")}}

       {{ form.register(class="btn") }}

   </form>
 </div>
{% endblock content %}
